@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.titleskills {
  margin: 20px;
}
.Skills {
  background-color: #fff;
  text-align: center;
  padding: 40px 0px;
  min-height: 500px;
}
.ICNS {
  font-size: 60px;
  color: blueviolet;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.item {
  width: 150px;
}
.up {
  background-color: blueviolet;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: all ease .3s;
  border-radius: 8px;
  font-size: 25px;
  position: fixed;
  bottom: 90px;
  right: -60px;
  z-index: 1000;
}
.up:hover{
  transform: scale(1.2);
}
.show{
right: 60px;
}
@media (max-width: 500px) {
  .up {
    transform: scale(0.9);
    
  }
}