.titleproject {
    text-align: center;
    padding-top: 80px;
}

.Main {
    /* background-color: aqua; */
    text-align: center;
}

.SCards {
    display: flex;
    align-items: center;
    justify-content: center;
}
.a-view {
    color: white;
    text-decoration: none;
}
.a-view:hover {
    color: white !important;
}
@media (max-width:780px) {
    .AMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .scsm{
        margin: 20px  !important;
        width: 100%;
    }
}